.background-green-privacy{
  -webkit-box-shadow: 10px 10px 19px -5px rgba(196,195,199,1);
  -moz-box-shadow: 10px 10px 19px -5px rgba(196,195,199,1);
  box-shadow: 10px 10px 19px -5px rgba(196,195,199,1);
  background-color: #00ADB5;
  margin-bottom: 60px;
  margin-right: 10px;
  padding: 30px 40px 10px 40px;
  color: black;
  text-align: justify;
}
.icon-orange-privacy{
	background-color:#00ADB5;
	color:#FF7043;
}
