.reset-page{
  margin: 100px 0 240px 0;
}
.reset-box{
  -webkit-box-shadow: 17px 19px 25px -15px rgba(190,191,194,0.48);
  -moz-box-shadow: 17px 19px 25px -15px rgba(190,191,194,0.48);
  box-shadow: 17px 19px 25px -15px rgba(190,191,194,0.48);
  background-color: #D6D2CE;
  padding: 20px 10px 20px 10px;
}
.btn-reset{
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  background-color: #00ADB5;
  padding: 6px 15px 6px 15px;
  text-decoration: none;
  border-radius: 0px;
  margin-top: 10px;
}

.reset-password-box{
  -webkit-box-shadow: 17px 19px 25px -15px rgba(190,191,194,0.48);
  -moz-box-shadow: 17px 19px 25px -15px rgba(190,191,194,0.48);
  box-shadow: 17px 19px 25px -15px rgba(190,191,194,0.48);
  background-color: #D6D2CE;
  padding: 20px 50px 40px 50px;
}
.from-reset-input{
  margin-bottom: 8px;
}