.marketplace > .panel-heading {
    background-color: #00ADB5;
    color: #fff;
    padding: 5px;
}

.marketplace > .panel-body {
    border: 1px solid #00ADB5;
}

.verify_sc {
  margin: 5px 0;
}

.remove_sc {
  margin: 5px 0;
}
