#top-footer {
  background-color: #303841;
  padding: 20px 0;
  //margin-top: 50px;
}
.navbar-brand {
  font-size: 1.5em;
}
#footer-color-orange {
  color: #ff5722;
}
#footer-color-blue {
  color: #00ADB5;
}
h4.heading {
  color: #ff5722;
}
a.btn-subscribe {
  color: #fff;
  background-color: #ff5722;
	text-align: center;
	margin-top: 10px;
  width: 100%;
  border-radius: 0px;
}
#copyright {
  text-align: center;
  margin-top: 25px;
  color: #fff;
  font-size: .9em;
}
.ul-format-1 {
  padding: 0;
  list-style: none;
  margin-top: 20px;
}
ul > li a.link-color{
  color: #fff;
}

.credit-card {
  color:#fff;
  font-size: 3em;
}
